<%= render 'shared/tagbar' %>

<div class="grid-container">
  <div class="interviews_grid">
    <h1 class="page-head">Profiles</h2>
    <h2 class="page-subhead">Take a dive into the life, work and values of change makers and thinkers.</h2>

    <div class="grid_flex">
      <% @profiles.each do |profile| %>
        <%= link_to profile_path(profile) do %>
          <%= content_tag :div, class: published?(profile) do %>
            <div class="card-img" style="background-image: url('<%= profile.photo %>')">
              <div class="card-tag tag"><%= profile.tag %></div>
            </div>
            <div class="card-headline">
              <%= profile.headline %>
            </div>
            <div class="card-subhead"><%= profile.subhead %></div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

