<%= render 'shared/tagbar' %>

<div class="grid-container">
  <div class="interviews_grid">
    <h1 class="page-head">Profiles</h2>
    <h2 class="page-subhead">Take a dive into the life, work and values of change makers and thinkers.</h2>

    <div class="grid_flex">
      <% @profiles.each do |article| %>
        <%= link_to article_path(article) do %>
          <%= content_tag :div, class: published?(article) do %>
            <div class="card-img" style="background-image: url('<%= article.photo %>')">
              <div class="card-tag tag"><%= article.tag %></div>
<!--               <div class="card-category category"><%= article.category %></div> -->
            </div>
            <div class="card-headline">
              <%= "#{article.contributor.name}: " if article.category == "opinion" %><%= article.headline %>
            </div>
            <div class="card-subhead"><%= article.subhead %></div>
            <% if user_signed_in? %>
              <div class="logged-in-card">
                <% if article.published %>
                  <p>published</p>
                <% else %>
                  <p>draft</p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

