<%= form_for @profile, url: {action: "create"}, html: {class: "article_form"} do |f| %>
  <%= f.hidden_field :category, value: "profile" %>
  <h3>Subject: <%= f.text_field :subject, value: "Name" %></h3>
  <h3>Headline: <%= f.text_field :headline %></h3>
  <h3>Strapline:<%= f.text_field :subhead %></h3>
  <h3>Tag: <%= f.text_field :tag %></h3>
  <h3>Contributor: <%= f.text_field :contributor_id %></h3>
  <h3>Featured Photo: <%= f.text_field :photo %></h3>

<% end %>
