
<%= form_for @profile, url: {action: "create"}, html: {class: "article_form"} do |f| %>
  <div class="profile-header-photo">
    <%= f.text_field :photo, placeholder: "photo url" %>
    <div class="profile-head-card">
      <div class="profile-category">
        <%= f.text_field :category, class: "profile-category", value: "profile" %>
        <%= f.text_field :person, placeholder: "Person" %>
      </div>
      <div class="profile-headline">
        <%= f.text_field :headline, class: "profile-headline", placeholder: "Headline" %>
      </div>
      <div class="profile-subhead">
        <%= f.text_field :subhead, placeholder: "Subhead" %>
      </div>
      <div class="profile-tag">
        <%= f.text_field :tag, placeholder: "tag" %>
      </div>
    </div>

    <div class="profile-container">
      <div class="profile-social">
        <i class="social fab fa-twitter"></i>
        <i class="social fab fa-facebook-f"></i>
        <i class="social fab fa-instagram"></i>
        <i class="social fab fa-linkedin-in"></i>
      </div>
      <div class="profile-body">
        <%= f.trix_editor :body %>
      </div>
    </div>
  </div>
  <%= f.text_field :contributor_id, placeholder: "contributor id #" %>
  <%= f.submit %>
<% end %>
