<% content_for :meta_title, "#{@profile.headline} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @profile.subhead %>
<% content_for :meta_image, cl_image_path(@offer.photo) %>

<div class="profile-header-photo" style="background-image: url('<%= @profile.photo %>')">
  <div class="profile-head-card">
    <h1 class="profile-headline upcase"><%= @profile.headline %></h1>
    <h2 class="profile-subhead"><%= @profile.subhead %></h2>
  </div>
    <div class="profile-tag tag"><%= @profile.tag %></div>
</div>

<div class="profile-container">
  <div class="profile-social">
    <%= link_to "http://twitter.com/share?text=#{@profile.headline}&url=#{request.original_url}" do %>
      <i class="social fab fa-twitter"></i>
    <% end %>
    <%= link_to "http://www.facebook.com/sharer.php?u=#{request.original_url}/&t=#{@profile.headline}" do %>
      <i class="social fab fa-facebook-f"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/shareArticle?mini=true&url=#{request.original_url}&title=#{@profile.headline}" do %>
      <i class="social fab fa-linkedin-in"></i>
    <% end %>
  </div>

  <div class="profile-body"><%= @profile.body.html_safe
    %>
  </div><!--
  <div class="profile-body"><%= sanitize @profile.body,
    tags: %w(strong em b i p code pre tt samp kbd var sub
    sup dfn cite big small address hr div span h1 h2 h3 h4 h5 h6 ul ol li dl dt dd abbr
    acronym a img blockquote del ins video source figcaption figure),
    attributes: %w(href src width height alt cite datetime title class name xml:lang abbr type autoplay loop data-trix-attachment data-trix-content-type)
    %>
  </div> -->

  <%= render 'shared/contributor' %>
</div>

<script>
  var imgs = document.querySelectorAll('.profile-body img');
  var divs = document.querySelectorAll('.profile-body div');
  var videos = document.querySelectorAll('.profile-body video');
  console.log(imgs);
  console.log(divs);

  [].forEach.call(divs, function(div) {
    div.classList.add("body");
  });

  [].forEach.call(imgs, function(img) {
    img.closest("div").classList.remove("body");
    img.closest("div").classList.add("wide");
  });

  [].forEach.call(videos, function(video) {
    video.closest("div").classList.remove("body");
    video.closest("div").classList.add("video");
  });
</script>


