<%= render 'shared/tagbar-opinions' %>

<div class="grid-container">
  <div class="interviews_grid">
    <h1 class="page-head">Opinions</h1>
    <h2 class="page-subhead">Thought-provoking commentary from writers, thinkers and changemakers across the world.</h2>

    <div class="grid_flex">
      <% @opinions.each do |opinion| %>
        <%= link_to opinion_path(opinion) do %>
          <%= content_tag :div, class: published?(opinion) do %>
            <div class="card-img" style="background-image: url('<%= opinion.photo %>')">
              <div class="card-tag"><%= opinion.tag %></div>
            </div>
            <div class="card-headline">
              <span class="card-contributor"><%= opinion.contributor.name %></span> <span class="card-quote"><%= opinion.headline %></span>
            </div>
            <div class="card-subhead"><%= opinion.subhead %></div>
            <% if user_signed_in? %>
              <div class="logged-in-card">
                <% if opinion.published %>
                  <p>published</p>
                <% else %>
                  <p>draft</p>
                <% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
