<div class="opinion-container">
  <%= form_for @opinion, url: {action: "create"}, html: {class: "article_form"} do |f| %>
    <%= f.hidden_field :category, value: "opinion" %>
    <h1>Opinion</h1>
    <div style="height: 240px"></div>
    <div class="form-profile-head-card">
      <%= f.text_area :headline, placeholder: "Headline" %>
      <%= f.text_area :subhead, placeholder: "Subhead" %>
      <%= f.select :tag, ["Art", "Politics", "Business", "Society", "Education", "Spirituality", "Science", "Technology", "Philosophy"], prompt: "select tag"%>
    </div>


    <div class="form-profile-container">
      <%= f.collection_select :contributor_id, Contributor.all.sort+[Contributor.new(name: "default_name")], :id, :name, prompt: "select contributor" %>
      <div class="profile-social">
        <%= link_to "http://twitter.com/share?text=#{@opinion.headline}&url=#{request.original_url}" do %>
          <i class="social fab fa-twitter"></i>
        <% end %>
        <%= link_to "http://www.facebook.com/sharer.php?u=#{request.original_url}/&t=#{@opinion.headline}" do %>
          <i class="social fab fa-facebook-f"></i>
        <% end %>
        <%= link_to "https://www.linkedin.com/shareArticle?mini=true&url=#{request.original_url}&title=#{@opinion.headline}" do %>
          <i class="social fab fa-linkedin-in"></i>
        <% end %>
      </div>



        <div class="profile-body"><%= f.trix_editor :body %></div>

        <%= f.submit %>
    </div>
  <% end %>
</div>
