<% content_for :meta_title, "#{@article.headline} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @article.subhead %>
<% content_for :meta_image, opinions_photo.sub('upload/', 'upload/c_fill,h_675,w_1200/') %>

  <h1 style="text-align: center; margin: 60px auto 40px auto;"><%= @category %></h1>
  <div class="opinion-head-container">
    <div class="opinion-header-photo round" style=<%= cloudinary_background(@article.contributor.photo, 550, 550) %>>
    </div>
    <div class="opinion-head-card">
      <div class="opinion-contributor upcase"><%= @article.contributor.name %></div>
      <h1 class="profile-headline"><%= @article.headline %></h1>
      <h2 class="profile-subhead"><%= @article.subhead %></h2>
    </div>
    <div class="profile-tag tag"><%= @article.tag %></div>
  </div>


<div class="opinion-container">
  <div class="profile-social">
    <%= link_to "http://twitter.com/share?text=#{@article.headline}&url=#{request.original_url}" do %>
      <i class="social fab fa-twitter"></i>
    <% end %>
    <%= link_to "http://www.facebook.com/sharer.php?u=#{request.original_url}/&t=#{@article.headline}" do %>
      <i class="social fab fa-facebook-f"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/shareArticle?mini=true&url=#{request.original_url}&title=#{@article.headline}" do %>
      <i class="social fab fa-linkedin-in"></i>
    <% end %>
  </div>

  <div class="profile-body"><%= sanitize @article.body,
    tags: %w(strong em b i p code pre tt samp kbd var sub
    sup dfn cite big small address hr div span h1 h2 h3 h4 h5 h6 ul ol li dl dt dd abbr
    acronym a img blockquote del ins video source figure figcaption video br),
    attributes: %w(href src width height alt cite datetime title class name xml:lang abbr type autoplay loop) %></div>
    <%= render 'shared/contributor' %>
  </div>

  <div class="home-section">
    <h1 class='center home-section-head'>Recommended</h1>
    <div class="recommended-grid-flex">
      <% @recommended.each do |article| %>
        <%= render 'shared/card', article: article %>
      <% end %>
    </div>
  </div>
</div>

<script>
  var imgs = document.querySelectorAll('.profile-body img');
  var divs = document.querySelectorAll('.profile-body div');
  var h1s = document.querySelectorAll('.profile-body h1')
  var videos = document.querySelectorAll('.profile-body video');
  console.log(imgs);
  console.log(divs);

  [].forEach.call(divs, function(div) {
    div.classList.add("body");
  });

  [].forEach.call(h1s, function(h1) {
    h1.classList.add("body");
  });

  [].forEach.call(imgs, function(img) {
    img.closest("div").classList.remove("body");
    img.closest("div").classList.add("wide");
  });

  [].forEach.call(videos, function(video) {
    video.closest("div").classList.remove("body");
    video.closest("div").classList.add("video");
  });
</script>

