  <h1 style="text-align: center;">Opinion</h1>
  <div class="opinion-header-photo round" style="background-image: url('<%= @opinion.contributor.photo %>')">
  </div>
  <div class="opinion-head-card">
    <div class="opinion-contributor upcase"><%= @opinion.contributor.name %></div>
    <div class="profile-headline upcase"><h1><%= @opinion.headline %></h1></div>
    <div class="opinion-subhead"><%= @opinion.subhead %></div>
    <div class="profile-tag tag"><%= @opinion.tag %></div>
  </div>


<div class="profile-container">
  <div class="profile-social">
    <%= link_to "http://twitter.com/share?text=#{@opinion.headline}&url=#{request.original_url}" do %>
      <i class="social fab fa-twitter"></i>
    <% end %>
    <%= link_to "http://www.facebook.com/sharer.php?u=#{request.original_url}/&t=#{@opinion.headline}" do %>
      <i class="social fab fa-facebook-f"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/shareArticle?mini=true&url=#{request.original_url}&title=#{@opinion.headline}" do %>
      <i class="social fab fa-linkedin-in"></i>
    <% end %>
  </div>

  <div class="profile-body"><%= sanitize @opinion.body %></div>
  <%= render 'shared/contributor' %>
  </div>
</div>

