<%= link_to article_path(@main) do %>
<div class="home-header-photo" style="background-image: url('<%= @main.photo %>')">
  </div>

  <div class="home-header-card-container">
    <div class="profile-category category"><%= @main.category %></div>
      <div class="home-head-card">
        <div class="card-headline upcase"><h1><%= @main.headline %></h1></div>
        <h2 class="profile-subhead"><%= @main.subhead %></h2>
        <div class="main-tag tag"><%= @main.tag %></div>
      </div>
  </div>
<% end %>

<div class="home-section">
  <div class="grid_flex">
    <% @articles.each do |article| %>
      <%= render 'shared/card', article: article %>
    <% end %>
  </div>
</div>

<div class="home-section">
  <h1 class='center home-section-head'>Events</h1>
  <div class="grid_flex">
    <% @events.each do |event| %>
      <%= render 'shared/eventcard', pin: event %>
    <% end %>
  </div>
</div>

<div class="home-section">
  <h1 class='center home-section-head'>Spaces</h1>
  <div class="grid_flex">
    <% @spaces.each do |space| %>
      <%= render 'shared/spacecard', pin: space %>
    <% end %>
  </div>
</div>

<script>
  window.onscroll = function() {hideLogo()};
  document.getElementById("logo").classList.add("hidden-logo");

  function hideLogo() {
    if (document.body.scrollTop > 145 || document.documentElement.scrollTop > 145) {
      document.getElementById("logo").classList.remove("hidden-logo");
    } else {
      document.getElementById("logo").classList.add("hidden-logo");
    }
  }
</script>
