<%= link_to article_path(@main) do %>
<div class="home-header-photo" style="background-image: url('<%= @main.photo %>')">
  </div>

  <div class="home-header-card-container">
    <div class="profile-category category"><%= @main.category %></div>
      <div class="home-head-card">
        <div class="card-headline upcase"><h1><%= @main.headline %></h1></div>
        <div class="profile-subhead"><%= @main.subhead %></div>
        <div class="main-tag tag"><%= @main.tag %></div>
      </div>
  </div>

<% end %>
<div class="home-grid-container">
  <% if @feature1 != nil %>
    <div class="feature-card">
      <% article = @feature1 %>
      <%= link_to article_path(article) do %>
        <%= content_tag :div, class: published?(article) do %>
          <div class="card-img" style="background-image: url('<%= article.photo %>')">
            <div class="card-tag tag"><%= article.tag %></div>
            <div class="card-category category"><%= article.category %></div>
          </div>
          <div class="card-text">
            <div class="card-headline"><%= article.headline %></div>
            <div class="card-subhead"><%= article.subhead %></div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <% if @feature2 != nil %>
    <div class="feature-card">
      <% article = @feature2 %>
      <%= link_to article_path(article) do %>
        <%= content_tag :div, class: published?(article) do %>
          <div class="card-img" style="background-image: url('<%= article.photo %>')">
            <div class="card-tag tag"><%= article.tag %></div>
            <div class="card-category category"><%= article.category %></div>
          </div>
          <div class="card-headline">
            <span class="card-contributor"><%= article.contributor.name if article.category == "opinion" %></span> <span class="card-headline"><%= article.headline %></span>
          </div>
          <div class="card-subhead"><%= article.subhead %></div>
        <% end %>
      <% end %>
    </div>
  <% end %>

    <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
          <%= content_tag :div, class: published?(article) do %>
            <div class="card-img" style="background-image: url('<%= article.photo %>')">
              <div class="card-tag tag"><%= article.tag %></div>
              <div class="card-category category"><%= article.category %></div>
            </div>
            <div class="card-text small">
              <div class="card-headline">
                <%= "#{article.contributor.name}: " if article.category == "opinion" %><%= article.headline %>
              </div>
              <div class="card-subhead"><%= article.subhead %></div>
            </div>
          <% end %>
        <% end %>
      <% end %>
</div>

<script>
  window.onscroll = function() {hideLogo()};
  document.getElementById("logo").classList.add("hidden-logo");

  function hideLogo() {
    if (document.body.scrollTop > 145 || document.documentElement.scrollTop > 145) {
      document.getElementById("logo").classList.remove("hidden-logo");
    } else {
      document.getElementById("logo").classList.add("hidden-logo");
    }
  }
</script>
