<div class="grid-container">
  <div class="interviews_grid">
    <h1 class="page-head">Spaces</h2>
    <h2 class="page-subhead">Discover hubs of the emerging new culture.</h2>
    <div class="event-filters">
      <%= form_tag spaces_path, method: :get do %>
        <%= select_tag(:event_type, options_for_select(@event_types), prompt: 'Category') %>
        <%= select_tag(:region, options_for_select(@regions), prompt: 'Location') %>
        <div class="event-filter-buttons-container">
          <%= submit_tag("Search", id: 'button-clear') %>
          <%= link_to 'See all' , spaces_path, id: 'button-clear' %>
        </div>
      <% end %>
    </div>
    <div
      id="map"
      data-markers="<%= @markers.to_json %>"
    ></div>
    <div class="grid_flex">
      <% @pins.each do |pin| %>
        <%= render 'shared/eventcard', pin: pin %>
      <% end %>
      <div class="card-container card-contribute">
        <%= link_to 'https://docs.google.com/forms/d/e/1FAIpQLSe0m7OSMeBkSRpVtGYi2rAFqROHK6so2hqQlylXe_VLxuCwlQ/viewform', target: "_blank" do %>
          <div class="card">
            <div class="card-plus">+</div>
            <h2 class=card-headline>Do you have an event to share with the emerge community?</h2>
          </div>
        <% end %>
      </div>
      <div class="pagy-container">
        <%== paginate(@pagy) %>
      </div>
    </div>
  </div>
</div>


