<div class="card-container">
  <% if user_signed_in? %>
    <div class="logged-in-card">
      <h3 class="admin">
        <%= link_to('edit', edit_article_path(article)) %>
      </h3>
      <h3>
        <%= link_to('unpublish', publish_article_path(article)) if article.published %>
        <%= link_to('publish', publish_article_path(article)) unless article.published %>
      </h3>
      <h3>
        <%= link_to('delete', delete_article_path(article)) %>
      </h3>
    </div>
  <% end %>

  <%= link_to article_path(article) do %>
    <%= content_tag :div, class: published?(article) do %>
      <div class="card-img" style="background-image: url('<%= article.photo %>')">
        <div class="card-tag tag"><%= article.tag %></div>
      </div>
      <div class="card-text small">
        <div class="card-headline">
          <%= "#{article.contributor.name}: " if article.category == "opinion" %><%= article.headline %>
        </div>
        <div class="card-subhead"><%= article.subhead %></div>
      </div>
    <% end %>
  <% end %>
</div>
