<div class="card-container">
  <% if user_signed_in? %>
    <div class="logged-in-card">
      <h3 class="admin">
        <%= link_to('edit', edit_article_path(article)) %>
      </h3>
      <h3>
        <%= link_to('unpublish', publish_article_path(article)) if article.published %>
        <%= link_to('publish', publish_article_path(article)) unless article.published %>
      </h3>
      <h3>
        <%= link_to('delete', delete_article_path(article)) %>
      </h3>
    </div>
  <% end %>

  <%= link_to card_route(article), target: external_link(article) do %>
    <%= content_tag :div, class: published?(article) do %>
      <%= content_tag :div, class: podcast_img?(article), style: "background-image: url(#{article.photo})" do %>
        <% if current_page?(controller: 'articles', action: 'index') %>
          <div class="card-tag-left category"><%= article.category %></div>
        <% end %>
        <div class="card-tag tag"><%= article.tag %></div>
      <% end %>
      <div class="card-text small">
        <h3 class="card-headline">
          <%= "#{article.contributor.name}: " if article.category == "opinion" %><%= article.headline %>
        </h3>
        <h4 class="card-subhead"><%= article.subhead %></h4>
      </div>
    <% end %>
  <% end %>
</div>
