<% if @profile.present? %>
  <div class="contributor-container">
    <%= image_tag @profile.contributor.photo, class: "contributor-image" %>
    <div class="contributor-text-container">
      <h2><%= @profile.contributor.name %></h2>
      <p><%= @profile.contributor.bio %></p>
      <%= @profile.contributor.twitter %>
      <%= @profile.contributor.instagram %>
      <%= @profile.contributor.website %>
    </div>
  </div>
  <% if @profile.photographer.present? %>
    <div class="contributor-container">
      <%= image_tag @profile.photographer.photo, class: "contributor-image" %>
      <div class="contributor-text-container">
        <h2><%= @profile.photographer.name %></h2>
        <p><%= @profile.photographer.bio %></p>
        <%= @profile.photographer.twitter %>
        <%= @profile.photographer.instagram %>
        <%= @profile.photographer.website %>
      </div>
    </div>
  <% end %>
<% end %>

<% if @opinion.present? %>
  <div class="contributor-container">
    <%= image_tag @opinion.contributor.photo, class: "contributor-image" %>
    <div class="contributor-text-container">
      <h2><%= @opinion.contributor.name %></h2>
      <p><%= @opinion.contributor.bio %></p>
      <%= @opinion.contributor.twitter %>
      <%= @opinion.contributor.instagram %>
      <%= @opinion.contributor.website %>
    </div>
  </div>
<% end %>
