<% if @profile.present? %>
  <div class="contributor-container">
    <%= image_tag @profile.contributor.photo, class: "contributor-image" %>
    <div class="contributor-text-container">
      <div>Words by <span class="contributor-name upcase"><%= @profile.contributor.name %></span></div>
      <%= @profile.contributor.bio %>
      <div>
        <% if @profile.contributor.twitter.present? %>
          <%= link_to "https://twitter.com/#{@profile.contributor.twitter}", target: "_blank", rel: "nofollow" do %>
            <i class="social fab fa-twitter"></i>
          <% end %>
        <% end %>
        <% if @profile.contributor.instagram.present? %>
          <%= link_to "https://www.instagram.com/#{@profile.contributor.instagram}/", target: "_blank", rel: "nofollow" do %>
            <i class="social fab fa-instagram"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <% if @profile.photographer.present? %>
    <div class="contributor-container">
      <div class="contributor-text-container-left">
        <div>Photos by <span class="contributor-name upcase"><%= @profile.photographer.name %></span></div>
        <%= @profile.photographer.bio %>
          <div>
          <%= link_to "https://twitter.com/#{@profile.photographer.twitter}", target: "_blank", rel: "nofollow" do %>
            <i class="social fab fa-twitter"></i>
          <% end %>
          <%= link_to "https://www.instagram.com/#{@profile.photographer.instagram}/", target: "_blank", rel: "nofollow" do %>
            <i class="social fab fa-instagram"></i>
          <% end %>
        </div>
      </div>
      <%= image_tag @profile.photographer.photo, class: "contributor-image" %>
    </div>
  <% end %>
<% end %>

<% if @opinion.present? %>
  <div class="contributor-container">
    <%= image_tag @opinion.contributor.photo, class: "contributor-image" %>
    <div class="contributor-text-container">
      <h2><%= @opinion.contributor.name %></h2>
      <p><%= @opinion.contributor.bio %></p>
      <%= @opinion.contributor.twitter %>
      <%= @opinion.contributor.instagram %>
      <%= @opinion.contributor.website %>
    </div>
  </div>
<% end %>
