<% if @profile.present? %>
  <div class="contributor-container">
    <%= image_tag @profile.contributor.photo, class: "contributor-image" %>
    <div class="contributor-text-container">
      <div class="contributor-text-header">Words by <span class="contributor-name upcase"><%= @profile.contributor.name %></span>

          <% if @profile.contributor.twitter.present? %>
            <%= link_to "https://twitter.com/#{@profile.contributor.twitter}", target: "_blank", rel: "nofollow" do %>
              <i class="social fab fa-twitter"></i>
            <% end %>
          <% end %>
          <% if @profile.contributor.instagram.present? %>
            <%= link_to "https://www.instagram.com/#{@profile.contributor.instagram}/", target: "_blank", rel: "nofollow" do %>
              <i class="social fab fa-instagram"></i>
            <% end %>
          <% end %>
        </div>
      <%= @profile.contributor.bio %>
      </div>

    </div>
  </div>
  <% if @profile.photographer.present? %>
    <div class="contributor-container">
      <div class="contributor-text-container-left">
        <div class="contributor-text-header">Photos by <span class="contributor-name upcase"><%= @profile.photographer.name %></span>
          <% if @profile.photographer.twitter.present? %>
            <%= link_to "https://twitter.com/#{@profile.photographer.twitter}", target: "_blank", rel: "nofollow" do %>
              <i class="social fab fa-twitter"></i>
            <% end %>
          <% end %>
          <% if @profile.photographer.instagram.present? %>
            <%= link_to "https://www.instagram.com/#{@profile.photographer.instagram}/", target: "_blank", rel: "nofollow" do %>
              <i class="social fab fa-instagram"></i>
            <% end %>
          <% end %>
        <%= @profile.photographer.bio %>
      </div>
    </div>
    <%= image_tag @profile.photographer.photo, class: "contributor-image" %>
  </div>
  <% end %>
<% end %>

<% if @opinion.present? %>
  <div class="contributor-container">
    <%= image_tag @article.contributor.photo, class: "contributor-image" %>
    <div class="contributor-text-container">
      <div class="contributor-text-header">Words by <span class="contributor-name upcase"><%= @article.contributor.name %></span>
        <% if @article.contributor.twitter.present? %>
          <%= link_to "https://twitter.com/#{@article.contributor.twitter}", target: "_blank", rel: "nofollow" do %>
            <i class="social fab fa-twitter"></i>
          <% end %>
        <% end %>
        <% if @article.contributor.instagram.present? %>
          <%= link_to "https://www.instagram.com/#{@article.contributor.instagram}/", target: "_blank", rel: "nofollow" do %>
            <i class="social fab fa-instagram"></i>
          <% end %>
        <% end %>
      </div>
      <%= @article.contributor.bio %>
    </div>
  </div>
<% end %>
