<div class="card-container">
  <% if user_signed_in? %>
    <div class="logged-in-card">
      <h3 class="admin">
        <%= link_to('edit', edit_pin_path(pin)) %>
      </h3>
      <h3>
        <%= link_to('unpublish', publish_pin_path(pin)) if pin.published %>
        <%= link_to('publish', publish_pin_path(pin)) unless pin.published %>
      </h3>
      <h3>
        <%= link_to('delete', delete_pin_path(pin)) %>
      </h3>
    </div>
  <% end %>

  <%= link_to pin_path(pin) do %>
    <%= content_tag :div, class: pin_published?(pin) do %>
      <% unless pin.photo.nil? %>
        <div class="card-img" style="background-image: url('<%= pin.photo %>')">
          <% unless pin.tag.nil? %>
            <div class="card-tag-left category"><%= pin.tag %></div>
          <% end %>
          <% unless pin.event_type.nil? %>
            <div class="card-tag tag"><%= pin.event_type %></div>
          <% end %>
        </div>
      <% end %>
      <div class="card-text small">
        <h3 class="card-headline">
          <%= pin.name %>
        </h3>
        <h4 class="card-date"><%= "#{pin.date.strftime("%-d.%-m.%Y")}" unless pin.date.nil? %> <%= " - #{pin.end_date.strftime("%-d.%-m.%Y")}" unless pin.end_date.nil? %></h4>
        <h4 class="card-subhead"><%= pin.location %></h4>
        <h4 class="card-subhead"><%= pin.description.truncate(175, separator: '</div>').html_safe %></h4>
      </div>
    <% end %>
  <% end %>

</div>
