<div class="card-container">
  <% if user_signed_in? %>
    <div class="logged-in-card">
      <h3 class="admin">
        <%= link_to('edit', edit_pin_path(pin)) %>
      </h3>
      <h3>
        <%= link_to('unpublish', publish_pin_path(pin)) if pin.published %>
        <%= link_to('publish', publish_pin_path(pin)) unless pin.published %>
      </h3>
      <h3>
        <%= link_to('delete', delete_pin_path(pin)) %>
      </h3>
    </div>
  <% end %>

  <%= link_to pin_path(pin) do %>
    <%= content_tag :div, class: pin_published?(pin) do %>
      <% unless pin.photo.nil? %>
        <%= image_tag pin.photo, class: 'media_image' %>
      <% end %>
      <div class="card-tag tag"><%= pin.tag %></div>
      <div class="card-headline">
        <%= pin.name %>
      </div>
      <div class="card-subhead"><%= "#{pin.date.strftime("%-d.%-m.%Y")}" unless pin.date.nil? %> <%= " - #{pin.end_date.strftime("%-d.%-m.%Y")}" unless pin.end_date.nil? %></div>
      <div class="card-subhead"><%= pin.location %></div>
    <% end %>
  <% end %>

</div>
