<div class="footer">
  <div class="footer-left">
    <div>
      <l3>Join our newsletter</l3>
    </div>

    <%= render 'shared/mailchimp' %>
  </div>

  <div class="footer-center-left">
    <div>
      <l3>or find us on</l3>
    </div>
    <div>
      <%= link_to "https://twitter.com/whatisemerging", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-twitter"></i>
      <% end %>
      <%= link_to "https://www.facebook.com/whatisemerging", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-facebook-f"></i>
      <% end %>
      <%= link_to "https://www.instagram.com/whatisemerging/", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-instagram"></i>
      <% end %>
      <%= link_to "https://linkedin.com/company/whatisemerging", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-linkedin-in"></i>
      <% end %>
      <%= link_to "https://www.youtube.com/channel/UCtEINk-Y-JjcwH4dl6z2EKg", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-youtube"></i>
      <% end %>
    </div>
  </div>
  <div class="footer-center-right">
    <l3>Emerge is a
      <br>social systems
      <br>change initiative led
      <br>by
      <%= link_to "https://systems-souls-society.com/", class: "footer-inline-link", target: "_blank", rel: "nofollow" do %>
        Perspectiva.
      <% end %>
    </l3>
  </div>
  <div class="footer-right">
    <%= link_to imprint_path do %><l3>Imprint</l3><% end %>
  </div>
</div>
