<div class="home-card-container">
  <%= link_to edit_article_path(article) do %>
    <% if user_signed_in? %>
    <div class="logged-in-card">
      <h3 class="logged-in-left admin">edit</h3>
      <% if article.published %>
      <h3 class="admin">published</h3>
      <% else %>
      <h3 class="admin">draft</h3>
      <% end %>
    </div>
    <% end %>
  <% end %>

  <%= link_to article_path(article) do %>
    <%= content_tag :div, class: published?(article) do %>
      <div class="card-img" style="background-image: url('<%= article.photo %>')">
        <div class="card-tag tag"><%= article.tag %></div>
      </div>
      <div class="card-text small">
        <div class="card-headline">
          <%= "#{article.contributor&.name}: " if article.category == "opinion" %><%= article.headline %>
        </div>
        <div class="card-subhead"><%= article.subhead %></div>
      </div>
    <% end %>
  <% end %>
</div>
