<div class="logged-in-container">

  <!-- Left Navigation -->
  <div class="logged-in-left admin">
    <%= current_user.email %>
  </div>

  <!-- right Navigation -->
  <div class="logged-in-right">
    <%= link_to "Edit", edit_article_path(@article), class: "admin white" if show_view? %>
    <%= link_to "Edit", edit_contributor_path(@contributor), class: "admin white" if contributor_view? %>
    <%= link_to "Edit", edit_photographer_path(@photographer), class: "admin white" if photographer_view? %>

    <% case action_name %>
    <% when 'about' %>
      <div class="flex-end">
        <%= link_to '-Edit', edit_about_path, class: 'logged-in-button' %>
        <%= link_to destroy_user_session_path, method: :delete, class: "logged-in-button" do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </div>
    <% when 'imprint' %>
      <div class="flex-end">
        <%= link_to '-Edit', edit_imprint_path, class: 'logged-in-button' %>
        <%= link_to destroy_user_session_path, method: :delete, class: "logged-in-button" do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </div>
    <% when 'show' %>
      <div class="flex-end">
        <%= link_to '-Edit', edit_article_path, class: 'logged-in-button' %>
        <%= link_to '-Edit HTML', htmledit_article_path, class: 'logged-in-button' %>
        <%= link_to destroy_user_session_path, method: :delete, class: "logged-in-button" do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </div>
    <% else %>
      <div class="flex-end">
        <%= link_to "+Journal", new_update_path, class: "logged-in-button" %>
        <%= link_to "+People", new_profile_path, class: "logged-in-button" %>
        <%= link_to "+Insight", new_opinion_path, class: "logged-in-button" %>
        <%= link_to "+Video", new_video_path, class: "logged-in-button" %>
        <%= link_to "+Podcast", new_podcast_path, class: "logged-in-button" %>
        <%= link_to "+Event", new_event_path, class: "logged-in-button" %>
        <%= link_to "+Space", new_space_path, class: "logged-in-button" %>
        <%= link_to "+Contributor", new_contributor_path, class: "logged-in-button" %>
        <%= link_to "+Photographer", new_photographer_path, class: "logged-in-button" %>
        <%= link_to "+Photo", new_photo_path, class: "logged-in-button" %>
      </div>
      <div class="flex-end">
        <%= link_to 'Contributors List', contributors_path, class: 'logged-in-button' %>
        <%= link_to destroy_user_session_path, method: :delete, class: "logged-in-button" do %>
          <i class="fas fa-sign-out-alt"></i>
        <% end %>
      </div>
    <% end %>

  </div>
</div>
