<div class="card-container">
  <% if user_signed_in? %>
    <div class="logged-in-card">
      <h3 class="admin">
        <%= link_to('edit', edit_article_path(article)) %>
      </h3>
      <h3>
        <%= link_to('unpublish', publish_article_path(article)) if article.published %>
        <%= link_to('publish', publish_article_path(article)) unless article.published %>
      </h3>
      <h3>
        <%= link_to('delete', delete_article_path(article)) %>
      </h3>
    </div>
  <% end %>

  <% if article.url.include? 'youtube' %>
    <%= link_to article_path(article) do %>
      <%= content_tag :div, class: media_published?(article) do %>
        <% unless article.photo.nil? %>
          <%= image_tag article.photo, class: 'media_image' %>
          <div class="mediacard-tag tag"><%= article.tag %></div>
        <% end %>
        <div class="mediacard-headline">
          <%= article.headline %>
        </div>
        <div class="card-subhead"><%= article.subhead %></div>
      <% end %>
    <% end %>
  <% else %>
    <%= link_to article.url, target: "_blank" do %>
      <%= content_tag :div, class: media_published?(article) do %>
        <% unless article.photo.nil? %>
          <%= image_tag article.photo, class: 'media_image' %>
        <% end %>
                <div class="mediacard-tag tag"><%= article.tag %></div>
                <div class="mediacard-headline">
                  <%= article.headline %>
                </div>
                <div class="card-subhead"><%= article.subhead %></div>
        <% end %>
    <% end %>
  <% end %>
  .
</div>
