<% if current_home? %>
  <div class="navbar-home">
    <a href="/" class="navbar-left">
      <%= image_tag "logo_temp.png", id: "logo-home" %>
    </a>
  </div>
<% end %>

<div class="navbar">

  <!-- Left Navigation -->
  <div class="logo-hide">
    <a href="/" class="navbar-left">
        <%= image_tag "logo_temp.png", id: "logo", class: "logo-hide" %>
    </a>
  </div>

  <!-- Center Navigation -->
  <div class="navbar-center hidden-xs hidden-sm">
    <% @tabs = ["about", "updates", "profiles", "opinions", "video", "podcast", "events", "spaces"] %>
    <% @tabs.each do |tab| %>
      <%= link_to tab.capitalize, send("#{tab}_path"), class: current_category?(send("#{tab}_path")) %>
    <% end %>
  </div>

  <!-- right Navigation -->
  <div class="navbar-right">
    <div class="hidden-xs hidden-sm">
      <%= link_to "https://twitter.com/whatisemerging", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-twitter"></i>
      <% end %>
      <%= link_to "https://www.facebook.com/whatisemerging", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-facebook-f"></i>
      <% end %>
      <%= link_to "https://www.instagram.com/whatisemerging/", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-instagram"></i>
      <% end %>
      <%= link_to "https://linkedin.com/company/whatisemerging", target: "_blank", rel: "nofollow" do %>
        <i class="social fab fa-linkedin-in"></i>
      <% end %>
    </div>

    <div class="navbar-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right dropdown-menu-columns navbar-dropdown-menu">
          <% @tabs = ["about", "updates", "profiles", "opinions"] %>
          <% @tabs.each do |tab| %>
            <li><%= link_to tab.capitalize, send("#{tab}_path"), class: 'navbar-item navbar-link' %></li>
          <% end %>
          <% @tabs = ["video", "podcast", "events", "spaces"] %>
          <% @tabs.each do |tab| %>
            <li><%= link_to tab.capitalize, send("#{tab}_path"), class: 'navbar-item navbar-link' %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<!-- <script>
  $(document).scroll(function(){
     $("logo").toggleClass('hidden', $(this).scrollTop() > 10);
 });
</script> -->
