<% if current_home? %>
  <div class="navbar-home">
    <a href="/" class="navbar-left">
      <%= image_tag "logo_temp.png", id: "logo-home" %>
    </a>
  </div>
<% end %>

<div class="navbar">

  <!-- Left Navigation -->
    <div class="logo-hide">
  <a href="/" class="navbar-left">
      <%= image_tag "logo_temp.png", id: "logo", class: "logo-hide" %>
  </a>
    </div>

  <!-- Center Navigation -->
  <div class="navbar-center hidden-xs hidden-sm">
    <% @tabs = ["about", "updates", "profiles", "opinions", "video", "podcast", "events", "spaces"] %>
    <% @tabs.each do |tab| %>
      <%= link_to tab.capitalize, send("#{tab}_path"), class: current_category?(send("#{tab}_path")) %>
    <% end %>
  </div>

  <!-- right Navigation -->
  <div class="navbar-right">
    <div class="hidden-xs hidden-sm">
<!--       <%= link_to "https://twitter.com/whatisemerging" do %>
        <i class="social fab fa-twitter"></i>
      <% end %> -->
      <%= link_to "https://www.facebook.com/whatisemerging" do %>
        <i class="social fab fa-facebook-f"></i>
      <% end %>
      <%= link_to "https://www.instagram.com/whatisemerging/" do %>
        <i class="social fab fa-instagram"></i>
      <% end %>
      <%= link_to "linkedin.com/company/whatisemerging" do %>
        <i class="social fab fa-linkedin-in"></i>
      <% end %>
    </div>
  </div>

</div>

<!-- <script>
  $(document).scroll(function(){
     $("logo").toggleClass('hidden', $(this).scrollTop() > 10);
 });
</script> -->
