<div class="navbar">

  <!-- Left Navigation -->
  <a href="/" class="navbar-left">
    <%= image_tag "logo_temp.png", id: "logo" %>
  </a>

  <!-- Center Navigation -->
  <div class="navbar-center hidden-xs hidden-sm">

    <%= link_to "About", about_path, class: "navbar-item navbar-link" %>
    <%= link_to "Updates", updates_path, class: "navbar-item navbar-link" %>
    <%= link_to "Profiles", profiles_path, class: "navbar-item navbar-link" %>
    <%= link_to "Opinions", opinions_path, class: "navbar-item navbar-link" %>
    <%= link_to "Video", video_path, class: "navbar-item navbar-link" %>
    <%= link_to "Podcast", podcast_path, class: "navbar-item navbar-link" %>
    <%= link_to "Events", events_path, class: "navbar-item navbar-link" %>
    <%= link_to "Spaces", spaces_path, class: "navbar-item navbar-link" %>

  </div>

  <!-- right Navigation -->
  <div class="navbar-right">
    <div class="hidden-xs hidden-sm">
      <%= link_to "https://twitter.com/intent/follow?screen_name=cocreationloft" do %>
        <i class="social fab fa-twitter"></i>
      <% end %>
      <%= link_to "https://www.facebook.com/cocreationloft/" do %>
        <i class="social fab fa-facebook-f"></i>
      <% end %>
      <%= link_to "https://www.instagram.com/cocreationloft/" do %>
        <i class="social fab fa-instagram"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/feed/" do %>
        <i class="social fab fa-linkedin-in"></i>
      <% end %>
    </div>
  </div>

</div>
