<div class="card-container">
  <%= link_to update_path(article) do %>
    <%= content_tag :div, class: published?(article) do %>
      <div class="updates-card">
        <h1><%= article.headline %></h1>
        <h2><%= article.subhead %></h2>
        <div class="updates-center">
          <div class="updates-sharing"></div>
          <div class="updates-bar"></div>
          <div class="updates-date"><%= article.published_at %></div>
        </div>
        <%= article.body.html_safe %>
      </div>
    <% end %>
  <% end %>
</div>
