<% content_for :meta_title, "#{@pin.name} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, sanitize(@pin.description) %>
<% content_for :meta_image, @pin.photo.sub('upload/', 'upload/c_fill,h_675,w_1200/') %>

<div class="event-header-photo" style="background-image: url('<%= @pin.photo %>')">
  </div>
</div>
  <div class="event-head-card">
    <h1 class="profile-headline"><%= @pin.name %></h1>
    <l3 class="event-date">
      <%= "#{@pin.date.strftime("%-d.%-m.%Y")}" unless @pin.date.nil? %> <%= " - #{@pin.end_date.strftime("%-d.%-m.%Y")}" unless @pin.end_date.nil? %></l3>
    <h2><%= @pin.location %></h2>
    <%= link_to @pin.url, @pin.url, target: "_blank", class: "event-link" %>
  </div>

<div class="event-container">
  <div class="event-body"><%= @pin.description.html_safe
    %>
  </div>
</div>

<script>
  var imgs = document.querySelectorAll('.event-body img');
  var divs = document.querySelectorAll('.event-body div');
  var videos = document.querySelectorAll('.event-body video');
  console.log(imgs);
  console.log(divs);

  [].forEach.call(divs, function(div) {
    div.classList.add("body");
  });

  [].forEach.call(imgs, function(img) {
    img.closest("div").classList.remove("body");
    img.closest("div").classList.add("wide");
  });

  [].forEach.call(videos, function(video) {
    video.closest("div").classList.remove("body");
    video.closest("div").classList.add("video");
  });
</script>


