<%= form_for @article, url: {action: "create"}, html: {class: "article_form"} do |f| %>
  <%= f.hidden_field :category, value: "update" %>
    <div class="update-form-head-card">
      <%= f.text_area :headline, placeholder: "Headline" %>
      <%= f.text_area :subhead, placeholder: "Subhead" %>
    </div>
  <div class="form-profile-container">
    <div class="profile-social">
      <%= link_to "http://twitter.com/share?text=#{@article.headline}&url=#{request.original_url}" do %>
        <i class="social fab fa-twitter"></i>
      <% end %>
      <%= link_to "http://www.facebook.com/sharer.php?u=#{request.original_url}/&t=#{@article.headline}" do %>
        <i class="social fab fa-facebook-f"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/shareArticle?mini=true&url=#{request.original_url}&title=#{@article.headline}" do %>
        <i class="social fab fa-linkedin-in"></i>
      <% end %>
    </div>


      <%= f.collection_select :contributor_id, Contributor.all.sort+[Contributor.new(name: "default_name")], :id, :name, prompt: "select contributor" %>
      <%= f.collection_select :photographer_id, Photographer.all.sort, :id, :name, prompt: "select photographer" %>

      <div class="profile-body"><%= f.trix_editor :body %></div>

      <%= f.submit %>

  </div>
<% end %>
