<% content_for :meta_title, "#{@article.headline} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @article.subhead %>
<% content_for :meta_image, @article.photo %>

<div class="profile-container">
  <div class="update-header-card">
    <h1 class='update-header-text'><%= @article.headline %></h1>
    <h2 class='update-header-text'><%= @article.subhead %></h2>
  </div>
  <div class="update-center">
    <div class="updates-sharing">
      <%= link_to "http://twitter.com/share?text=#{@article.headline}&url=#{request.original_url}" do %>
        <i class="social fab fa-twitter"></i>
      <% end %>
      <%= link_to "http://www.facebook.com/sharer.php?u=#{request.original_url}/&t=#{@article.headline}" do %>
        <i class="social fab fa-facebook-f"></i>
      <% end %>
      <%= link_to "https://www.linkedin.com/shareArticle?mini=true&url=#{request.original_url}&title=#{@article.headline}" do %>
        <i class="social fab fa-linkedin-in"></i>
      <% end %>
    </div>
    <% unless @article.published_at.nil? %>
      <div class="updates-bar"><hr></div>
      <div class="updates-date"><%= @article.published_at.strftime("%-d.%-m.%Y") %></div>
    <% end %>
  </div>
</div>

<div class="profile-body">
  <%= @article.body.html_safe %>
</div>
<%= render 'shared/contributor' %>


<script>
  var profileBody = document.querySelector('.profile-body')
  var imgs = document.querySelectorAll('.profile-body img');
  var divs = document.querySelectorAll('.profile-body div');
  var videos = document.querySelectorAll('.profile-body video');
  console.log(profileBody);
  console.log(imgs);
  console.log(divs);

  [].forEach.call(divs, function(div) {
    div.classList.add("body");
  });

  // [].forEach.call(imgs, function(img) {
  //   var newDiv = document.createElement('div');
  //   var figure = img.closest('a');
  //   console.log(figure);
  //   newDiv.classList.add('wide');
  //   figure.parentNode.insertBefore(newDiv, figure)
  //   newDiv.appendChild(figure);
  // });


  [].forEach.call(imgs, function(img) {
    img.closest("div").classList.remove("body");
    img.closest("div").classList.add("wide");
  });

  [].forEach.call(videos, function(video) {
    video.closest("div").classList.remove("body");
    video.closest("div").classList.add("video");
  });
</script>
