<div class="profile-container">
  <div class="contributor-container">
    <%= image_tag @contributor.photo, class: "contributor-image" %>
    <div class="contributor-text-container">
      <h2><%= @contributor.name %></h2>
      <p><%= @contributor.bio.html_safe %></p>
      <p><%= @contributor.twitter %></p>
      <p><%= @contributor.instagram %></p>
      <p><%= @contributor.linked_in %></p>
      <p><%= @contributor.website %></p>
    </div>
  </div>
</div>
