<%= render 'shared/tagbar' %>

<div class="grid-container">
  <div class="interviews_grid">
    <h1 class="page-head">Podcasts</h2>
    <h2 class="page-subhead">Tune into what’s emerging with our podcast discovery tool.</h2>

    <div class="grid_flex">
      <% @articles.each do |article| %>
        <%= render 'shared/card', article: article %>
      <% end %>
      <div class="card-container card-emergepodcast">
        <%= link_to emergepodcast_path do %>
          <div class="card black-background">
            <div class="emergepodcast-card-photo">
              <img src="https://res.cloudinary.com/whatisemerging/image/upload/f_auto,c_fill,g_face,q_auto,r_max,w_300,h_300/v1555599524/cache/85e026bde8fbc5eba7265aaafb711c72.jpg" alt="">
            </div>
            <div class="emergepodcast-card-text">
              <!-- <h1 class="card-emergepodcast-head">Emerge: Making Sense of What's Next</h1> -->
              <h2 class=card-headline>Click here to discover new episodes of the <i>Emerge: Making Sense of What's Next</i> podcast series.</h2>
            </div>
          </div>
        <% end %>
      </div>
      <div class="card-container card-contribute">
        <%= link_to 'https://docs.google.com/forms/d/e/1FAIpQLScg8Ge3BoNOY3tt2T70--AsWyDB-Q66JCt0duiZn8NQ3mU1PQ/viewform', target: "_blank" do %>
          <div class="card">
            <div class="card-plus">+</div>
            <h2 class=card-headline>Do you have an podcast to share with the emerge community?</h2>
          </div>
        <% end %>
      </div>
    </div>
    <div class="pagy-container">
      <%== paginate(@pagy) %>
    </div>
  </div>
</div>
