<!DOCTYPE html>
<html>
  <head>
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">

    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="testing title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="whatisemerging.com" />
    <meta property="og:image" content="http://ee08f91a.ngrok.io/images/app/assets/images/Emerge_Logo.png" />
    <meta property="og:description" content="Emerge is an independent, non-profit media platform aiming to explore the emerging cultural narratives of our time." />
    <meta property="og:site_name" content="What is emerging" />

    <!-- Twitter Card data -->
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= DEFAULT_META["meta_title"] %>">
    <meta name="twitter:description" content="<%= DEFAULT_META["meta_description"] %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= DEFAULT_META["meta_image"] %>">
    <meta name="twitter:card" content="summary_large_image">

    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('Emerge_Logo.png') %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bai+Jamjuree|Chakra+Petch|Merriweather|Noto+Serif|PT+Serif|Roboto+Slab" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <meta name=viewport content="width=device-width, initial-scale=1">
  </head>

  <body class="<%= @page %>">
    <% if user_signed_in? %>
      <%= render 'shared/logged-in' %>
    <% end %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>

    <%= render 'shared/footer' %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>

    <%= javascript_pack_tag 'maps' %>
  </body>

</html>
